/* navigation  */

#navbar{
    flex-direction: column;
}
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;

}
/* home  */
#home{
  height: 370px;
  padding: 0px 27px;
  
}
#home::before{
  height: 400px;
  
}
#home p{
  font-size: 13px;
}
/* sevices section  */

#services{
flex-direction: column;
width: 80%;
}

#sevices .box{
     padding: 14px;
     margin: 2px 15px;
     margin-bottom: 20px;

}


/* client section  */
 #client{
  flex-wrap: wrap;
    
 }
 #clients img{

    width: 60px;
    padding:  -1px 1px;
    margin: -25px -20px;
    /* height: auto; */
 }
 
/* contact us section  */
#contact-box form{
  width: 50%;
}
/* footer */

/* utility class  */
.h-primary{
  font-size: 26px;
}
.btn{
  font-size: 13px;
  padding: 4px 8px;
}